* {
  box-sizing: border-box;
}

body {
  background: #0B2434;
  margin: 0 auto;
  
  font-family: 'Karla', sans-serif;
}
.wrapper{
  max-width: 800px;
  height: 400px;
  margin: 20px auto;
  background: #F5F5F5;
  border-radius: 6.4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  
}

.title {
  font-size: 40px;
  margin: 0;
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}
.parent {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 10px;
  width: 400px;
  margin: 0 auto;
  }

  

  .face{
    background-color: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 3.81277px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .die--number{
    font-size: 2rem;
  }
  .rolls{
    min-width: 80px;
    max-width: 120px;
    padding: 10px;
    background-color: blueviolet;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Karla', sans-serif;
  }
  .wrapper button:focus{
    outline: none;
  }
  .wrapper button:active{
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
  }
  .your--rolls{
    margin: 0;
    background-color: aqua;
    padding: 4px;
    float: left;
  }
  .lowest--rolls{
    margin: 0;
    background-color: rgb(218, 82, 111);
    padding: 4px;
  }
  .erase{
    color: rgb(255, 0, 0);
    border: none;
    display: flex;
    position: absolute;
    bottom: 50px;
    left: 50px;

  }

  @media only screen and (max-width: 500px) {
    .wrapper{
      max-width: 100%;
      height: 500px;
      margin: 20px auto;
      background: #F5F5F5;
      border-radius: 6.4px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      
    }
    .parent {
      display: grid;
      grid-template: auto auto / repeat(5, 1fr);
      gap: 10px ;
      margin: 0 auto;
      width: 100%;
      }
  }